@model ice.Models.tbl_flawors

@{
    ViewBag.Title = "AddFlawor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AddFlawor</h2>

@using (Html.BeginForm("AddFlawor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.fl_name, htmlAttributes: new { @class = "control-label col-md-2 text-right font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fl_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fl_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.fl_image, htmlAttributes: new { @class = "control-label col-md-2 text-right font-weight-bold" })
            <div class="col-md-10">
                <input type="file" name="imgfile" value="" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Create" class="btn border-success" />
            </div>
        </div>
    </div>
}

